<h1><center>Users</center></h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
     
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>

        
      </tr>
   <%end%>
  </tbody>
</table>
