<%= div_for brain do %>

	<p id="notice"><%= notice %></p>
<table>
  <thead>
  </thead>
  <tbody>
   
      <tr>
        <td width=25%><%= brain.flavor %></td>
        <td width=25%><%= brain.iq %></td>
        <td width=25%>
          <% if brain.fresh %>
          <%= image_tag 'brains/fresh.png', class: 'brains_fresh' %>
          <% else %>
          <%= image_tag 'brains/no_fresh.png', class: 'brains_fresh' %>
          <% end %>
        </td>
        <td width=25%><%= time_ago_in_words(brain.created_at)%></td>
      </tr>
    
  </tbody>
</table>
<% end %>
